body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  padding: 15px;
}
.links {
  display: flex;
  gap: 50px;
  font-size: 18px;
  color: #e5e7eb;
}
a {
  color: #e5e7eb;
  text-decoration: none;
}
a:hover {
  color: #3882f6;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}
.content1 {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
  padding: 60px;
  gap: 30px;
  justify-content: center;
}
.box1 {
  width: 50%;
}
.h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.text1 {
  font-size: 18px;
  color: #e5e7eb;
}
button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  padding: 5px 20px 5px 20px;
}
.box2 {
  display: flex;
  min-width: 500px;
  background-color: #8f8f8f;
  justify-content: center;
  align-items: center;
}
.text2 {
  color: #e5e7eb;
}

.content2 {
  display: flex;
  flex-direction: column;
  padding: 20px 60px 20px 60px;
}
.h2 {
  display: flex;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  justify-content: center;
  padding: 20px;
}
img {
  border: 3px solid #3882f6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}
.img-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p {
  text-align: center;
  max-width: 50%;
}

.content3 {
  background-color: #e5e7eb;
  padding: 60px 100px;
}
.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
.quoter {
  display: flex;
  font-size: 24px;
  color: #1f2937;
  font-weight: bolder;
  justify-content: right;
  align-items: right;
}

.content4 {
  margin: 60px 100px 60px 100px;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.box3 {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
}
.h3 {
  color: #e5e7eb;
  font-weight: bolder;
}
p1 {
  color: #e5e7eb;
}
.button {
  border: 3px solid white;
  border-radius: 10px;
  font-weight: bold;
}
.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 40px;
  display: flex;
  justify-content: center;
}
